.cards-line
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5%;
    gap: 2.5%;
}
.service-title{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333;
    margin-bottom: 5%;
}
