.leaflet-container {
  height: 80vh;
  width: 90%;
  border-radius: 2rem;
  display: block;
  margin: 0 auto;
}

.leaflet-popup-content-wrapper
{
  width: 300px;
}

@media screen and (max-width: 900px) {
  .leaflet-routing-container {
    width: 32%;
    
  }
}
